# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config SHIELD_TEMPEST_LEFT
    def_bool $(shields_list_contains,tempest_left)

config SHIELD_TEMPEST_RIGHT
    def_bool $(shields_list_contains,tempest_right)
